@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    text-align: center;
    background-image: url(./img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    margin: 50px auto;
    color:white;
}

.navigation {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.navigation li {
    margin-right: 30px;
}

.navigation li a {
    padding: 15px;
    border:1px solid;
    border-radius: 30%;
    color:#ddd;
    transition: .7s all;
}

.navigation li a:hover{
    border-radius: 60%;
    background:white;
    color:black;
}

section {
    color:white;
    align-items: center;
    margin:50px auto;
    width: 70%;
}

h2 {
    margin-bottom: 40px;
}

span {
    text-decoration: underline;
}

.inst {
    color:black;
    list-style-type: none;
    margin-top: 100px;
    font-size: 1.1em;
}

.inst li {
    margin-bottom: 5px;
}

aside {
    width: 50%;
    margin: 60px auto 0;
    color: white;
}
aside li {
    list-style-type: none;
}

